<html>
    <head>
        <link href="/assets/styles.css" rel="stylesheet" type="text/css">
    </head>
    <% include partials/nav.ejs %>
    <body>
        <h1>Welcome to the server served site!</h1>
        <p>First site to be server by server</p>
    </body>
</html>